!!!
%html{:lang => "en"}
  %head
    %title How's Business?
    %meta{:"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{:"http-equiv" => "Content-Style-Type", :content => "text/css"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
            
    / Styles
    = include_stylesheet "bootstrap.journal.min"
    = include_stylesheet "bootstrap-responsive.min"
    = include_stylesheet :custom
    = content :stylesheets
    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = include_javascript "http://html5shim.googlecode.com/svn/trunk/html5.js"

  %body
    .container-fluid
      .page-header
        %ul.nav.nav-pills.pull-right
          %li{:class => current_menu_class("home")}
            %a{:href => "/"} Home
          %li{:class => current_menu_class("about")}
            %a{:href => "/about"} About
        %h1
          %a{:href => "/"}
            How's Business?
            %small
              A look at the Chicago economy, based on open data

      = yield

    %footer.footer
      .container-fluid
        %hr
        %p
          A project by Daniel Morton, 
          = succeed ',' do
            %a{:href => 'http://derekeder.com'} Derek Eder
          Forest Gregg and Matt Gee.
      
    // raw and trend data. json data defined as a variable
    = include_javascript :"foreclosures"
    / = include_javascript "http://bunkum.us/hb_data/license.js"
    / = include_javascript "http://bunkum.us/hb_data/permits.js"
    / = include_javascript "http://bunkum.us/hb_data/unemployment.js"

    = include_javascript :jquery
    = include_javascript :bootstrap
    = include_javascript :highcharts
    = include_javascript :chart_helper
    = include_javascript :app

    = content :javascripts

    = include_javascript :"analytics_lib" if production?

